@model UserEditDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Profil Ayarları</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post" id="userForm">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Kullanıcı Bilgileri Güncelleme</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Name">Adınız</label>
                                <input type="text" class="form-control font-weight-bold" asp-for="Name" id="Name" placeholder="Adınız">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Surname">Soyadınız</label>
                                <input type="text" class="form-control font-weight-bold" asp-for="Surname" id="Surname" placeholder="Soyadınız">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Username">Kullanıcı Adı</label>
                                <input type="text" class="form-control font-weight-bold" asp-for="Username" id="Username" placeholder="Kullanıcı Adı">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Mail">Mail Adresiniz</label>
                                <input type="email" class="form-control font-weight-bold" asp-for="Mail" id="Mail" placeholder="Mail">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Password">Şifreniz</label>
                                <input type="password" class="form-control font-weight-bold" asp-for="Password" id="Password" placeholder="Şifreniz">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ConfirmPassword">Şifreniz Tekrar</label>
                                <input type="password" class="form-control font-weight-bold" asp-for="ConfirmPassword" id="ConfirmPassword" placeholder="Şifreniz">
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-success">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

